@import url("https://fonts.googleapis.com/css?family=Inter:400,700,600,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
  margin-top: auto;
}

.topBg {
  width: 800px;
  height: 235px;
  background: #307DF6;
  display: flex;
  flex-direction: column;
}

.startBd {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
}

.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: #4E596B;
  margin-top: 45px;
}

.subText {
  font-weight: 700;
}

.MyButton {
  margin-top: 40px;
}