@import url("https://fonts.googleapis.com/css?family=Inter:400,700,600,800");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    margin-top: auto;
}

.topBg {
    width: 900px;
    height: 235px;
    background: #307DF6;
    display: flex;
    flex-direction: column;
}

.startBd {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: #4E596B;
    margin-top: 25px;
}

.subText {
    font-weight: 700;
}

.MyButton {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.diffText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 15px;
    color: #4E596B;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 15px;
    width: 64px;
}

.arrows {
    margin-top: 30px;
}

.arrow {
    opacity: 0.3;
    border: 1px solid #000000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow:hover {
    background: #307DF6;
    border-color: #307DF6;
    color: #FFFFFF;
    opacity: 1;
}

.arrow_hidden {
    opacity: 0;
}
